@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <td>
                <img src="https://tisa-mebli.com.ua/image/cache/catalog/tisa-mebli/catalog.prestig+/vsek-42-k-82-and-su-u.o/SHO-2-1200x900.jpg" style="max-width:300px;max-height:300px;" />
            </td>
            <td>
                <img src="https://oleksenko.com.ua/wp-content/uploads/2020/06/DSC9200.jpg" style="max-width:300px;max-height:300px;" />
            </td>
            <td>
                <img src="https://center-doors.com.ua/media/catalog/product/cache/2/image/600x800/e4d92e6aceaad517e7b5c12e0dc06587/u/n/uno_1_3.jpg" style="max-width:300px;max-height:300px;" />
            </td>
            <td>
                <img src="https://uhl-mash.com.ua/image/catalog/iblock/000/shkaf_odezhnyy_metallicheskiy_sho_300_2.jpg" style="max-width:300px;max-height:300px;" />
            </td>
        </tr>
        <tr>
            <td>
                400$
            </td>
            <td>
                840$
            </td>
            <td>
                130$
            </td>
            <td>
                420$
            </td>
        </tr>
        <tr>
            <td>
                Шафа ШО-2
            </td>
            <td>
                Розкладний стіл "Мілан-люкс"
            </td>
            <td>
                Двері "UNO 1"
            </td>
            <td>
                Шафа ШО-300/2
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://stulchik.com.ua/image/cache/data/product/58003_2-700x700.jpg" style="max-width:300px;max-height:300px;" />
            </td>
            <td>
                <img src="https://www.lori.com.ua/wp-content/uploads/2019/12/Eklips5.jpg" style="max-width:300px;max-height:300px;" />
            </td>
            <td>
                <img src="https://veres.net.ua/image/cache/catalog/pismennyjstol/temno-seryj/3333-800x800.jpg" style="max-width:300px;max-height:300px;" />
            </td>
            <td>
                <img src="https://sezonplus.com.ua/image/cache/catalog/%D0%92%D1%85%D1%96%D0%B4%D0%BD%D1%96%20%D0%B4%D0%B2%D0%B5%D1%80%D1%96/%D0%A2%D0%B5%D1%80%D0%BC%D0%BE%D0%BF%D0%BB%D0%B0%D1%81%D1%82/%D0%9C%D0%B5%D1%82%D0%B0%D0%BB%D0%BE%D0%BF%D0%BB%D0%B0%D1%81%D1%82%D0%B8%D0%BA%D0%BE%D0%B2%D1%96/21-7%D0%BF-500x500.jpg" style="max-width:300px;max-height:300px;" />
            </td>
        </tr>
        <tr>
            <td>
                900$
            </td>
            <td>
                710$
            </td>
            <td>
                690$
            </td>
            <td>
                220$
            </td>
        </tr>
        <tr>
            <td>
                Шафа-купе G-Gaiser
            </td>
            <td>
                Стіл журнальний "Екліпс"
            </td>
            <td>
                Письмовий стіл "Верес Сіетл"
            </td>
            <td>
                Металопластикові двері
            </td>
        </tr>
    </table>
</div>
