@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Автоматизована система управління транспортними перевезеннями.</p>
<h2>Можливість обирати та замовляти бажані товари без обмежень на кількість або місцезнаходження!</h2>
<hr />
<h3>Перейдіть,будь ласка, на сторінку "Orders" для здійснення замовлень.</h3>
<p></p>
